{% extends 'base.html' %}

{% block content %}

    <div class="table-container">
        <h1 class="display-4 my-2">Key Cabinet</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Keyname</th>
                <th scope="col">Quantity</th>
                <th scope="col">Access</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for key in keys %}
            <tr>
                <th scope="row">{{key.id}}</th>
                <td>{{key.keyname}} Key</td>
                <td>{{key.quantity}}/{{key.total_quantity}}</td>
                <td>
                    <form action="{% url 'take_key' key.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary mx-1 btn-sm">Take key</button>
                    </form>
                    <form action="{% url 'return_key' key.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-success mx-1 btn-sm">Return key</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center my-4">
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>
{% endblock %}
