{% extends "base.html" %} 
{% block content %}



  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="glass card" style="width: 400px;">
      <div class="card-header col-12">
        <div id="animation" style="text-align: center;">
          <h1 id="login-text">Key Access Login</h1>
        </div>
      </div>
      <div class="glass card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter your username"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter your password"
            />
          </div>
          <button type="submit" class="btn btn-outline-primary">Login</button>
        </form>
      </div>
    </div>
  </div>

  <style>
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>

  <script>
    // Add your JavaScript animation code here
    const loginText = document.getElementById('login-text');
    const text = loginText.innerHTML;
    loginText.innerHTML = '';

    for (let i = 0; i < text.length; i++) {
      const span = document.createElement('span');
      span.innerHTML = text[i];
      span.style.animation = `fade-in 2s ease-in-out ${i * 0.2}s forwards`;
      loginText.appendChild(span);
    }
  </script>

{% endblock %}
