.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border-radius: 20px !important;
  border:1px solid rgba(255, 255, 255, 0.18) !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
}

.form-floating .form-control {
  background-color: transparent;
}

.form-control::after  .form-label::after {
  background-color: transparent ;
} 

.form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
  background-color:transparent !important;
}

.form-floating>.form-control:placeholder-shown~label::after, .form-floating>.form-select~label::before {
  background-color:transparent !important;
}

.bg-img {
  /* height: 100vh;
  width: 100vw; */
  object-fit: cover;
  /* filter: brightness(0.9); */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}